.idea
/node_modules
client/node_modules
server/node_modules
./server/yarn.lock
package-lock.json
yarn.lock
/client/yarn.lock
/server/yarn.lock
/server/.env
/server/report.txt
/server/12.png
/server/11.png
/server/0.png
/server/5.png
/server/2.png
/server/3.png
/server/1.png
/server/10.png
/server/8.png
/server/4.png
/server/9.png
/server/7.png
/server/6.png
/server/13.png
/server/15.png
/server/16.png
